<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ab libero in
      ipsum sint, quam eveniet. Consequuntur dolorem eum expedita.ß
    </p>
  </header>
  <div style="width: 50%; padding: 4rem;">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        enim.
      </div>
    </div>
  </div>
</section>
<section class="block container block--skewed-right block--dark">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ab libero in
      ipsum sint, quam eveniet. Consequuntur dolorem eum expedita.ß
    </p>
  </header>
  <div style="width: 50%; padding: 4rem;">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        enim.
      </div>
    </div>
  </div>
</section>
